<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Basket</title>
</head>


<body>

<a href="https://www.mercadopago.com.br/payments/123456789/ticket?caller_id=123456&hash=123e4567-e89b-12d3-a456-426655440000" target="_blank">Pagar com Pix</a>



<img src='data:image/jpeg;base64,{{ payment.qr_code_base64 }}'/>


    <label for="copiar">Copiar Hash:</label>
    <input type="text" id="copiar"  value= {{payment.qr_code}} />



</body>

</html>